#firstPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.30vw;
}

#subheadingCon p,
#managerTextCon p {
    font-family: var(--fontMaven);
}

#subheadingCon p {
    color: var(--textWhite);
    font-size: 2.78vw;
}

#managerTextCon p {
    color: var(--textGray);
    font-size: 11.11vw;
    margin: 0;
}

#headerCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reviewCon {
    color: var(--textWhite);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#firstReview,
#secondReview,
#thirdReview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#firstReview {
    margin-right: 15vw;
}

#secondReview {
    margin-left: 20vw;
}


#thirdReview {
    margin-right: 10vw;
}